.container { 
    position: relative;
}
.navegacao {
    display: flex;
    flex-direction: column;
}
.rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: aqua;
}
.corpo {
    display: flex;
    align-self: stretch;
    padding: 1rem;
}
nav {
    position: absolute;
    left: 0px;
    width: 200px;
}
section {
    margin-left: 200px;
}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 70;
    background-color: white;
    width: 100%;
}
body{
    justify-content: center;
    margin-bottom: 120px;
}