.flex-container {
    display: flex;
    background: orange;
    align-items: stretch;
    height: 500px;
    min-width: 100px;
    
}

.flex-caixa {
    background: yellow;
    width: 50px;
    margin: 10px;
    min-height: 100px;
    order: -1;
    flex-shrink: 0;
    flex-grow: 3;
    flex-basis: 350px;
    flex: 1 1 1;
    align-self: auto;
}

